[Unit]
Description=DuckDNS IP Update
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
EnvironmentFile=/opt/micro-trading/.env
ExecStart=/opt/trading/duckdns-update.sh

[Install]
WantedBy=multi-user.target
